.landing-page {
    height: 100vh;
    background: linear-gradient(to bottom right, #146fef, #877a9f);
    color: white;
}

.content {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}