/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body {
    background: linear-gradient(to bottom right, #82a6d8, #877a9f);
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  