<div class="configuration-form">
    <h2>Configuration Settings</h2>
    <form [formGroup]="form">
      <label>Total Tickets:</label>
      <input id="totalTickets" type="number" formControlName="totalTickets"/>
  
      <label for="ticketReleaseRate">Ticket Release Rate:</label>
      <input id="ticketReleaseRate" type="number" formControlName="ticketReleaseRate"/>
  
      <label for="customerRetrievalRate">Customer Retrieval Rate:</label>
      <input id="customerRetrievalRate" type="number" formControlName="customerRetrievalRate"/>
  
      <label for="maxTicketCapacity">Max Ticket Capacity:</label>
      <input id="maxTicketCapacity" type="number" formControlName="maxTicketCapacity"/>
  
      <div class="btn-container">
        <button type="button" (click)="submit()">Start</button>
      </div>
    </form>

    <app-log-display/>

  </div>
  